@import 'variables.scss';

.archive-container {
	max-width: 900px;
	margin: 0 auto;
}

.archive-record {
	margin-bottom: 25px;
}

.archive-title {
	font-size: 25px;
	font-weight: bold;
	color: $black;
	&:hover {
		color: $pink;
	}
}

.archive-date {
	color: $gray;
	margin-bottom: 5px;
}
