@import './variables.scss';

.header-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	font-size: 20px;
	background: $black;
	color: $pink;
	border-bottom: 4px solid $pink;
}

.header-nav-link {
	text-decoration: none;
	margin-left: 30px;
	color: $pink;
	padding: 5px;

	&.active {
		border-bottom: 2px dotted $turquoise;
	}
}


