@import './variables.scss';

.header-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	font-size: 20px;
	background: $black;
	color: $pink;
	border-bottom: 4px solid $pink;
}

.header-title {
	font-size: 25px;
}

.header-nav-link {
	text-decoration: none;
	margin-left: 30px;
	color: $pink;
	padding: 5px;

	&.active, &:hover {
		border-bottom: 2px dotted $turquoise;
	}
}

@media (max-width: 700px) {
	.header-container {
		flex-direction: column;
		text-align: center;
	}

	.header-nav-links-container {
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
	}

	.header-nav-link {
		border-bottom: 2px solid $black;
		margin-left: 0
	}
}
