@import './variables';

.projects-container {
	display: flex;
}

.projects-nav {
	flex-basis: 25%;
	flex-shrink: 0;
}

.projects-nav-item {
	cursor: pointer;
	padding: 10px 0;
	border-bottom: 2px solid white;

	&:hover, &.selected {
		border-bottom: 2px dotted $turquoise;
	}
}
